html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(0, 0, 169);
}

.LinkExternal:hover,
.LinkInternal:hover {
  background-color: color-mix(in hsl, black, transparent 80%);
}

*:target {
  /* color: red !important; */
  /* outline: 0.2em solid blue; */
  /* outline: 0.5em ridge rgba(170, 50, 220, .6); */
  outline: 0.5em outset rgba(170, 50, 220, .6);
  transition-property: outline;
  transition-duration: 0.5s;
  /* border-radius: 2rem; */
}